
<div class="drop-down-list" style="margin-top:30px;">
    <div class="row">
        <div class="col-sm-1">
            <div class="comment-img">
                <span
                    style="background-color: red; padding: 10px 17px; border-radius: 50%; text-align: center; display: inline-block; color: #fff;">{{c.user.name|first}}</span>
            </div>
        </div>
        <div class="col-sm-11">
            <div class="comment-img"
                style="background-color: #fff; padding: 20px; border-radius: 10px; margin-left: 0px;">
                <p style="margin: 0; color: #222; font-weight: bold;">{{c.user.name}}</p>
                <p style="margin: 0;color: #222; font-size: 13px;"> {{c.start_date}}</p>
                <p>{{c.message}}</p>
            </div>
        </div>
    </div>
</div>
