{% extends 'navbar.html' %}

{% load static %}
{% load custom_tags %}

{% block content %}

<!-- show list all blog -->
{% if all_list %}
{% for i in all_list %}
<div class="blog-post">
    <div class="row">
        <div class="col-sm-12">
            <div class="main-blog-section">
                <div class="profile-name d-flex justify-content-flex-start">
                    <div class="profile-section">
                        <span>{{i.user.name|title|first}}</span>
                    </div>
                    <div class="open-work">
                        <h5>{{i.user.name|title}}</h5>
                        <h6> {{i.place_name}} </h6>
                        {% post_dateformat i.start_date as blog_date %}
                        <p> {{blog_date}}</p>
                    </div>
                </div>
                <div class="delete-icon">
                    <a href="/delete-blog/{{i.id}}/" title="Delete"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="my-name-section">
        <div class="row">
            <div class="col-ms-12">
                <div class="text-name">
                    <p>{{i.discription}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="images-blog">
        <div class="row">
            <div class="col-sm-12">
                <div class="person-img">
                    <img src="{{i.image.url}}"
                        alt="image">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% get_com_count i.id as count_com %}

           <div class="custom-like-section">
            <div class="like-btn">
                {% check_like  i.id request.user.id as check_like_val %}
                {% total_c_like i.id as all_c_likes %}
                <a href="javascript:void(0) " onclick="submit_like('{{i.id}}')"><i
                        class="fa-regular fa-thumbs-up custom-like check_like_cls_{{i.id}}  {% if check_like_val > 0 %} like {% endif %}"></i>
                        <span class="like_total_{{i.id}}">{{all_c_likes}} Like</span></a>
                <a href="javascript:void(0) " onclick="comment('{{i.id}}')"><i class="fa-regular fa-comment"
                        ></i><span class="count_comment_of_{{i.id}}">{{count_com}} Comment</span></a>
            </div>
            <div class="share-btn">
                <a href="javascript:void(0)" class="share_button_action" data-blog_id="{{i.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-share-nodes "
                        ></i>Share</span></a>
            </div>
           </div>
        </div>
       
    </div>
    <div class="input-section">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-box ">
                    <div class="comment_message_{{i.id}} d-none box-textarea-section"> 
                    <textarea name="comment_message" id="comment_message_{{i.id}}"
                        class="bor-0 w-100 rounded-xxl pr-5 ps-2 font-xssss text-grey-500 fw-500 border-light-md theme-dark-bg"
                        cols="10" rows="2" placeholder="Write a comment..." required=""
                        ></textarea>
                  
                    <!-- Button trigger modal -->
                    <button type="button" class="btn" onclick="submit_commeent('{{i.id}}')">
                        <i class="fa-solid fa-paper-plane"></i>
                    </button>
                </div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Share On Email</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                </div>
                                <form method="post" action="{% url 'share-blog' %}">
                                    {% csrf_token %}
                                <div class="modal-body">
                                    <div class="emails-1">
                                        <label for="exampleFormControlInput1" class="form-label">enter your Email address</label>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                                            <input type="hidden" class="blog_id_data" name="blogid_name" value="" id="blog_id"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% get_comment i.id as comment_list %}

                    <div class="over-flow-content list_blog_c_{{i.id}} {% if comment_list %} comm_wrap {% endif %}">
                        {% for c in  comment_list %}
                        <div class="drop-down-list">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="custom-new-blog-section d-flex">
                                        <div class="comment-img">
                                            <span>{{c.user.name|first}}</span>
                                        </div>
                                        <div class="comment-img comment-custom">
                                            <p>{{c.user.name|title}}</p>
                                            {% post_dateformat c.start_date as blog_date_c %}
                                            <p> {{blog_date_c}}</p>
                                            <p>{{c.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h3 class="d-flex justify-content-center mt-3 mb-3"> No Record Found</h3>

<nav aria-label="Page navigation example ">
    <ul class="pagination d-flex justify-content-center">
        {% if all_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ all_list.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% for num in all_list.paginator.page_range %}
            {% if num == all_list.number %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if all_list.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ all_list.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}


