.navbar-nav .nav-link {
    color: #fff;
  }
  .dropend .dropdown-toggle {
    color: salmon;
    margin-left: 1em;
  }
  .dropdown-item:hover {
    background-color: lightsalmon;
    color: #fff;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }

    .errorlist{
        color: red;
        margin: 0px;
        padding: 0px;
    }

    .navbar-nav .nav-link {
        color: #fff;
    }

    .dropend .dropdown-toggle {
        color: salmon;
        margin-left: 1em;
    }

    .dropdown-item:hover {
        background-color: lightsalmon;
        color: #fff;
    }

    .dropdown .dropdown-menu {
        display: none;
    }

    .dropdown:hover>.dropdown-menu,
    .dropend:hover>.dropdown-menu {
        display: block;
        margin-top: 0.125em;
        margin-left: 0.125em;
    }

    @media screen and (min-width: 769px) {
        .dropend:hover>.dropdown-menu {
            position: absolute;
            top: 0;
            left: 100%;
        }

        .dropend .dropdown-toggle {
            margin-left: 0.5em;
        }
    }
    .blog-post{
        margin:30px auto;
        width:693px;  
        background-color: #e4dddd;
        padding: 20px; 
        border-radius: 10px;
    }
    .like{
        color: #f30000 !important;
        font-size: 20px;
    }
    .custom-like{
        color:#364e52;
        margin-right: 10px;
    }
    .comm_wrap{
        height: 200px; overflow: auto; overflow-x:hidden; margin-top: 20px;
    }
    .nav_wrap{
        background-color: salmon;
    }


    .profile-section{
        background-color: red; 
        padding: 18px 28px; 
        border-radius: 50%; 
        text-align: center; 
        display: inline-block; 
        color: #fff;
    }
    .open-work{
        margin-left: 20px;
    }
    
    .open-work p{
        margin: 0;
        color: #222; 
        /* font-weight: bold; */
    }
    .open-work p, h6, h5{
        margin: 0;
    }
    .like-btn a{
        text-decoration: none; 
        margin-right: 20px;
    }
    .like-btn a span{
        color: #222;
    }
    .like-btn i{
        color:#364e52;  
        margin-right: 10px;
    }
    .share-btn a{
        text-decoration: none;
        color:#364e52;  
    }
    .share-btn i{
        color:#364e52;
        margin-right: 10px;
    }
    .share-btn a span{
        color:#364e52;
        margin-right: 10px;
    }
    .box-textarea-section{
        position: relative;
    }
    .box-textarea-section textarea{
        outline: none;
         border: none; 
         border-radius: 3px;
    }
    .box-textarea-section button{
        position: absolute; 
        top: 14px;
        right: 17px;
    }
    .comment-img span{
        background-color: red; 
        padding: 10px 17px; 
        border-radius: 50%; 
        text-align: center; 
        display: inline-block; 
        color: #fff;
    }
    .comment-custom {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-left: 15px;
        width: 100% !important;
    }
    .comment-custom p:first-child{
        font-weight: bold;
    }
    .comment-custom p{
        margin: 0;
        color: #222; 
        font-size: 13px;
    }
    .profile-section{
        border-radius: 50%;
    }
    .my-name-section{
        margin-top: 20px;
    }
    .images-blog{
        margin: 20px 0;
    }
    .person-img img{
        width: 100%;
    }
    .drop-down-list{
        margin-top:30px;
    }
    .input-section{
        margin-top: 20px;
    }
    .headermav_wrap ul li a.nav-link.active {
        color: #000 !important;
        font-weight: bold;
    }
    .main-blog-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .delete-icon i{
        color: rgb(255, 0, 0);
    }
    .custom-like-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .new-like-definebtn{
        display: flex;
        justify-content: space-between;
    }
    .custom-drop-list-new{
        display: flex;
    }
    /*@media css */
    @media all  and (max-width:767px) {
        .blog-post {
            /* margin: 30px 20px; */
            width: 100%;
            /* padding: 20px; */
            border-radius: 10px;
        }
    }
    @media all  and (max-width:379px) {
        .like-btn a {
            margin-right: 7px;
        }
    }



    /* ss */